body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 13px/15px;
}

/*

	Table-less Forums

*/

.customFloatConatiner {
}

.customFloatLeft {
	float: left;
}

.customFloatFooter {
	clear: both;
}

/*
    
    Table-less Forums - Body

*/

#divBodyFloatContainer {
	margin: 0 auto;
	width: 996px;
}

#divBodyFloatFooter {
	padding: 25px 0;
	border-top: 1px solid #999;
}

#divBodyFloatLeft {
	position: fixed;
	width: 450px;
}

#divBodyFloatRight {
	margin-left: 450px;
}