body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 15px;
}

a {
	color: #0585ff;
	text-decoration: none;
}

a:hover {
	color: #999;
	text-decoration: underline;
}

/*

	Table-less Forums

*/

.custom-float-left {
	float: left;
}

.custom-float-footer {
	clear: both;
}

/*
    
    Table-less Forums - Body

*/

.body-float-container {
	margin: 0 auto;
	padding: 25px 0;
	width: 996px;
}

.body-float-footer {
	padding-top: 25px;
	border-top: 1px solid #999;
}

.body-float-left {
	position: fixed;
	width: 330px;
	margin-right: 20px;
}

.body-float-right {
	margin: 0 0 10px 350px;
	padding-left: 25px;
	border-left: 1px solid #999;
}

/*

	Left Side - Basic Details

*/

.image-and-name {
	text-align: center;
}

.round-img {
	border-radius: 150px;
}

.section-name {
	/* sets the defaults to zero while keeping the bottom margin */
	margin: 0 0 15px;
}

.footer-section {
	border-top: 1px solid #fff;
	margin-top: 15px;
	padding: 10px 10px 0 0;
	text-align: right; 
}

.footer-section a {
	color: #fff;
}

.section-sub-title {
	margin-bottom: 0;
}

.body-float-right section {
	background-color: #0585ff;
	color: #fff;
	border-radius: 25px;
	padding: 20px;
	margin-bottom: 15px;
}

/*

	Key Career Highlight section

*/

.key-career-bulletpoints {
	margin: 0;
}